{% extends "@HandMade/layout.html.twig" %}
{% block body %}
    <div class="col-md-12">
        <h1>{{ product.name }}</h1>
        <div class="col-md-8">
            {% set productImage = vich_uploader_asset(product, 'imageFile') %}
            <img class="thumbnail" src="{{ asset(['bundles/handmade/', productImage]|join) }}"  />
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-12">
            <ul id="productTabs" class="nav nav-tabs">
                <li class="active"><a href="#description" data-toggle="tab">{{ 'Опис' | trans}}</a></li>
                <li><a href="#comments" data-toggle="tab">{{ 'Відгуки' | trans }}</a></li>
            </ul>

              <!-- Tab panes -->
            <div class="tab-content products-tab-content">
                <div class="tab-pane active" id="description">
                    <div class="col-md-12">
                        {{ product.description }}
                    </div>
                </div>
                <div class="tab-pane" id="comments">
                    {{''}}
                </div>
            </div>

        </div>
    </div>
{% endblock %}