{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article edit</h1>

    <form action="{{ path ('article_update', {'id': article.id}) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <div>
            <p>
                <button class="btn pull-left btn-success offset1" type="submit">{{ 'Update'|trans }}</button>
            </p>
        </div>
    </form>
    <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
